.date-container {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  position: absolute;
  margin-top: 2.2rem;
  margin-right: 10px;
  width: 260px;
  /* height: auto; */
  box-shadow: var(
    --dt-surface2-shadow,
    0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15)
  );
  border-radius: 10px;
  background-color: white;
  max-height: 202px;
  /* overflow: hidden; */
  animation: slideDown2 0.2s ease-in-out;
  z-index: 2;
}

@keyframes slideDown2 {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 202px; /* Adjust the value based on your content */
    opacity: 1;
  }
}

.date-container li {
  list-style: none;
  padding: 8px;
  padding-left: 3rem;
  font-family: var(--fontfamily);
  font-size: var(--drop-font-size);
}

.date-container li:hover {
  cursor: pointer;
  background-color: var(--hoverback);
}
