.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4rem;
  margin-left: 15rem;
}

.folders {
  display: flex;
  gap: 3rem;
}

.items {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  gap: 10px;
  transition: transform 0.2s ease-in-out;
}

.items:hover {
  cursor: pointer;
  /* transform: scale(1.2); */
}

.items p {
  font-family: var(--fontfamily);
  font-size: var(--table-content-font);
  font-weight: var(--table-content-weight);
}

.table-title th {
  font-family: var(--fontfamily);
  font-size: var(--table-title-font);
  font-weight: var(--table-title-weight);
}

.table-container {
  max-height: 400px;
  overflow-y: auto;
  max-width: 80vw;
  z-index: 1;
}

.folders-table {
  width: 100%;
  border-collapse: collapse;
}

.folders-table th,
.folders-table td {
  /* border: 1px solid #ddd; */
  border-bottom: var(--tableborder);
  padding: 8px;
  text-align: left;
}

.folders-table th {
  position: sticky;
  top: 0;
  background-color: white;
}

.folder-icon {
  font-size: var(--iconssize);
}

.drop-type {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  height: 30px;
  border: 1px solid var(--drop-border-color);
  border-radius: 8px;
  background-color: white;
  margin-left: 8px;
}

.drop-type p {
  font-family: var(--fontfamily);
  font-size: var(--table-content-font);
  font-weight: var(--drop-font-weigth);
  color: var(--drop-txt-color);
}

.drop-type:hover {
  cursor: pointer;
}

.drop-modify {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  height: 30px;
  border: 1px solid var(--drop-border-color);
  border-radius: 8px;
  background-color: white;
  margin-left: 8px;
}

.drop-modify p {
  font-family: var(--fontfamily);
  font-size: var(--table-content-font);
  font-weight: var(--drop-font-weigth);
  color: var(--drop-txt-color);
}

.drop-modify:hover {
  cursor: pointer;
}

.type-wrap {
  position: absolute;
  top: 0;
}

.modify-wrap {
  position: absolute;
  top: 11.5rem;
  left: 21rem;
}

.filter-contain {
  display: flex;
  align-items: center;
}
